<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>I'm a Seattle native that spent all my summers growing up in Alaska and have resided in Provo, UT now for over 10 years with my wife and kids!</p>

    <p>In 2016 I left my career of 8 years with Dish Network to pursue computer software/web development! It's been an awesome transition and am excited to keep learning as I seek the right company with the right fit :D</p>
  </div>
  <div class="sidebar-module">
  
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/jasonamclean" target="_blank"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.facebook.com/jason.mclean.754" target="_blank"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://www.linkedin.com/in/jason-mclean-b7827a58" target="_blank"><%= fa_icon "linkedin" %></a></li>
    </ol>
  </div>
</div>