<br><br><h4>"It is not in the stars to hold our destiny but in ourselves." ~William Shakespeare</h4><br>

<h1>About Me</h1>

<h6 style="color: red">#{Now_Hirable}</h6><br>

<p>Excited to code and grow with your organization! I have spent the last 4 months seriously preparing myself to enter the coding and programming environments. I am a recent grad of Bottega Tech and current intern at Slate Developement. I'm a dedicated, committed individual and team player that follows through.</p>

<p>Learning to code has been an arduous task but well worth the time, sacrifice and growth. I hope to attain to much higher levels of understanding and ability as I continue to study and learn both for you and in my personal time.</p>

<p>I can't wait to start developing for you and your organization </p>

<p><u><a style="color: red" href="https://github.com/jasonamclean", target="_blank">My GitHub</a></u></p>

<p>I'm a native Seattlite that has been in Utah County for just over a decade with my family. I root for my Seahawks and local Cougars. I love technology, sports and spending time with my family.</p>

<p>After 8 years working for Dish Network I'm ready to tackle an exciting opportunity in a new direction of coding and application development. Many thanks to my friends at Bottega tech for the learning, instruction and continued support.</p>