<br>

<h4>
  "It is not in the stars to hold our destiny but in ourselves." ~William Shakespeare
</h4>

<br>

<h1>About Me</h1>

<h6 style="color: red">#{Now_Hirable}</h6><br>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "jason_resume_headshot.jpg", width: 300, alt: "profile image" %>
  </div>

  <div class="col-md-8">
    <p>I am a current intern at Slate Developement and TA with Bottega Tech. I'm a dedicated, committed, team player that follows through.</p>

    <p>Learning to code has been an arduous task but well worth the time, sacrifice and growth. I hope to attain to much higher levels of understanding and ability as I continue to study and learn both for you and in my personal time.</p>

    <p>I can't wait to start developing for you and your organization </p>

    <p><u><a style="color: red" href="https://github.com/jasonamclean", target="_blank">My GitHub</a></u></p>

    <p>I'm a native Seattlite that has been in Utah County for just over a decade with my family. I root for my Seahawks and local Cougars. I love technology, sports and spending time with my family.</p>
  </div>
  
</div>


