<h1 style="color: red">Let's Make Some Memories:</h1>

<hr>

<div class="row">
	<div class="col-md-6">
		<p>Phone: <%= number_to_phone "7029851837" %></p>

		<p>Email Me: <a href="mailto:jasonamclean@hotmail.com?subject=PortfolioContact" "email me">jasonamclean@hotmail.com</a></p>

		<p>Website: <a href="http://jasonmclean.tech" target="_blank"><u>jasonmclean.tech</u></a></p>

		<p>LinkedIn: <a href="https://www.linkedin.com/in/jason-mclean-b7827a58", target="_blank"><u>Clickety click</u></a></p>
	</div>

	<div class="col-md-6">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3046.114426626896!2d-111.65526104920222!3d40.228757979286314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d974fc42dd169%3A0xd07d41ea1eac9dbe!2s365+300+E%2C+Provo%2C+UT+84606!5e0!3m2!1sen!2sus!4v1485491952089" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>

<!-- <p><%= number_to_currency "123475" %></p>

<p><%= number_with_delimiter "1234890172345987" %></p> -->
