<div class="inner cover">
  <h1 class="cover-heading" style="color: red">So Nice to Meet You</h1>
  <p class="lead">I am boy wonder and this is my world. I code you, you code me, we're a happy coding tree with a knick knack paddy wack, give a dog a bone, this old man came coding home.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</div>